spring:
  profiles:
    active: local

##logging:
##  config: classpath:logback-spring.xml
#  level:
#    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus  # prometheus 추가
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true

jwt:
  secret:
    key: ${JWT_SECRET_KEY}

cloud:
  aws:
    credentials:
      accessKey: ${AWS_ACCESS_KEY_V2}
      secretKey: ${AWS_SECRET_KEY_V2}
    s3:
      bucketName: ${AWS_BUCKET_NAME_V2}
    region:
      static: ${AWS_REGION}
    stack:
      auto: false
    cloudfront:
      cloudFrontUrl: ${CLOUD_FRONT_URL}
      keyPairId: ${CLOUDFRONT_KEY_PAIR_ID}
      privateKeyPath: ${CLOUDFRONT_PRIVATE_KEY_PATH}


toss:
  payment:
    secret:
      key: ${TOSS_SECRET_KEY}
